<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verificar Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Ionic 6 & Firebase</h2>
      <p>
        Por favor verifique su cuenta de correo electronico para verificar su cuenta
      </p>
      <ion-button type="submit" (click)="usuarioService.verificationEmail()" expand="block">
        Reenviar verificación
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>